<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pc.name }}'s Inventory</title>
</head>
<body>
    <table>
        <tr>
            <th>Inventory</th><th>Equipment</th>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <th>Item Name</th><th>Quantity</th>
                    </tr>
                    {% for item in items %}
                        <tr><td>{{ item.name }}</td><td></td></tr>
                    {% endfor %}
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td></td><td>Head</td><td>Eyes</td>
                        <td></td><td>Neck</td><td></td>
                        <td></td><td>Armor</td><td></td>
                        <td>LH</td><td>Legs</td><td>RH</td>
                        <td></td><td>Feet</td><td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>