<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pc.name }}'s Skills and Saves</title>
</head>
<body>
    Skills:<br>
    {% for skill in skills %}
        {{ skill.ranks }} = {{ skill.skill.name }}<br>
    {% endfor %}
    SAVES:
    Reflex Save:      {{ saves.ref }}<br>
    Fortitude Save:   {{ saves.fort }}<br>
    Will Save:        {{ saves.will }}<br>
    Ability         Score       Modifier<br>
    Strength:       {{ abilities.str }}      {{ abilities.strMod }}<br>
    Dexterity:       {{ abilities.dex }}      {{ abilities.dexMod }}<br>
    Constitution:       {{ abilities.con }}      {{ abilities.conMod }}<br>
    Wisdom:       {{ abilities.wis }}      {{ abilities.wisMod }}<br>
    Intelligence:       {{ abilities.int }}      {{ abilities.intMod }}<br>
    Charisma:       {{ abilities.cha }}      {{ abilities.chaMod }}<br>

</body>
</html>