<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Creation Part 3</title>
</head>
<body>
    <h1>Skills for {{ pc.name }}</h1>
    <form action="/gm/createPlayer/3" method="POST" onsubmit="return validate()" required>
    {% csrf_token %}
    Skills with * are Class Skills<br>
    <br>
    <select name="skills" id="skills" multiple size={{ skills.count }}>
    {% for skill in skills %}
        <option value="{{ skill }}">{{ skill }}</option>
    {% endfor %}
    </select>
    <input type="submit" name="Submit">
    </form>
<script>
        function validate()
        {
            var selectChoose = document.getElementById('skills');
            var maxOptions = {{ maxRanks }};
            var optionCount = 0;
            for (var i = 0; i < selectChoose.length; i++) {
                if (selectChoose[i].selected) {
                    optionCount++;
                }
            }
            if (optionCount != maxOptions) {
                        alert("Too many ranks assigned or missing")
                        return false;
                    }
            return true;
        }
</script>
</body>
</html>